.recipeFormWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.recipeForm {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  margin: 1rem;
  box-shadow: 3px 4px 10px 3px rgba(128, 128, 128, 0.171);
  border-radius: 4px;
  width: 60rem;
}
.recipeFormTitle {
  text-align: center;
  font-weight: 500;
  padding: 0.5rem 0;
}
.section_style {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 50%;
}
.section_splitter {
  height: 30rem;
  background-color: rgb(228, 228, 228);
  width: 1px;
}
