.app_home_container {
  margin: 1rem 20rem;
}
.app_home_welcome {
  display: flex;
  gap: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: var(--font_color);
  border: var(--light_gray_border);
  border-radius: var(--molecule_border_radius);
  height: 26rem;
  text-align: center;
}

.app_home_description {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.app_home_title {
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.app_home_callToAction {
  width: 14rem;
}
.app_home_content {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.app_home_last_recipes_container {
  margin: 2rem 0;
}
