.app_home_container {
  margin: 1rem 20rem;
}
.app_home_welcome {
  display: flex;
  gap: 2rem;
  font-family: var(font_family);
  color: var(--font_color);
  border: var(--light_gray_border);
  border-radius: var(--molecule_border_radius);
  height: 26rem;
  text-align: center;
}

.app_home_description {
  font-size: 1.5rem;
  line-height: 2.2rem;
}
.app_home_title {
  font-size: 2.5rem;
}
.app_home_content {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.app_home_last_recipes_container {
  margin: 2rem 0;
}
.app_home_callToAction {
  border: none;
  background-color: white;
  padding: 0.8rem 0;
  border: 2px solid #003c7c;
  border-radius: 2rem;
  width: 8rem;
  color: 003c7c;
  font-weight: 600;
  font-size: 1rem;
  font-family: var(font-family);
  cursor: pointer;
}
.app_home_callToAction:hover {
  background-color: whitesmoke;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .app_home_container {
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-items: center;
  }
  .app_home_welcome {
    flex-direction: column;
    padding: 0;
    height: auto;
    width: 90vw;
  }
  .app_home_content {
    padding: 1rem 2rem;
    gap: 1rem;
  }
  .app_home_welcome_image {
    display: none;
  }
}
