.last_recipes_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: var(--font_family);
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .last_recipes_container {
    text-align: center;
  }
}
