/* DESKTOP NAV */
.app_navigation {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 20rem;
  border: 1px solid rgba(128, 128, 128, 0.329);
}
.app_navigation_links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.mobile_hamburger {
  display: none !important;
}

/* MOBILE MENU OVERLAY */
.mobile_menu_overlay {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: white;
  transition: left 0.3s ease;
  z-index: 200;
}

.mobile_menu_overlay.open {
  left: 0;
}

/* MOBILE MENU CONTAINER */
.mobile_menu {
  padding: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}

.mobile_close_btn {
  position: absolute;
  top: 0;
  left: 45%;
}

.mobile_menu ul {
  list-style: none;
  padding: 0;
}

.mobile_menu ul li {
  margin-bottom: 1.5rem;
}

.mobile_menu .app_navigation_list_item {
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  background-color: whitesmoke;
  border-radius: 4px;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  /* Hide desktop nav */
  .desktop_menu {
    display: none !important;
  }

  /* Show hamburger on mobile */
  .mobile_hamburger {
    display: block !important;
  }

  .app_navigation {
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--light_gray_border);
  }
}
