.app_navigation_search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.8rem;
  border: 1px solid rgba(128, 128, 128, 0.205);
  border-radius: 4px;
  width: 30rem;
}

/* RESPONSIVE */
@media screen and (max-width: 600px) {
  .app_navigation_search {
    width: 80vw;
  }
}
